<html>
  <head>
    <title>{{ title }}</title>

  </head>
  <body>
    {{partial 'header'}}
    <div id="wrapper">
      {% body %} {{!-- ページごとに読み込む部分 --}}
    </div>
    {{partial 'footer' }}
    <p>{{assets}}/js/libs/libs_pc.js</p>
  </body>
</html>
