@charset 'UTF-8';

@mixin hidetxt {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  line-height: 0.1;
}

@mixin clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

// for spritesmith
@mixin btnBasic($width, $height) {
  width: $width;
  height: $height;
  a {
    display: block;
    width: inherit;
    height: inherit;
  }
}

@mixin btnSprite($sprite) {
  width: nth($sprite, 5);
  height: nth($sprite, 6);
  a {
    @include sprite($sprite);
    @include hidetxt;
    display: block;
    width: inherit;
    height: inherit;
  }
}

@mixin btnLabelSprite($width, $height, $sprite) {
  width: $width;
  height: $height;
  position: relative;
  a {
    display: block;
    width: inherit;
    height: inherit;
    span {
      @include sprite($sprite);
      @include hidetxt;
      position: absolute;
      left: ($width - nth($sprite, 5)) / 2;
      top: ($height - nth($sprite, 6)) / 2;
    }
  }
}


@mixin sprite-width-2x($sprite) {
  width: nth($sprite, 5) / 2;
}

@mixin sprite-height-2x($sprite) {
  height: nth($sprite, 6) / 2;
}

@mixin sprite-position-2x($sprite) {
  $sprite-offset-x: nth($sprite, 3)/2;
  $sprite-offset-y: nth($sprite, 4)/2;
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image-2x($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite-size-2x($sprite) {
  background-size: nth($sprite, 7)/2 nth($sprite, 8)/2;
}

@mixin sprite-2x($sprite) {
  @include sprite-image-2x($sprite);
  @include sprite-position-2x($sprite);
  @include sprite-width-2x($sprite);
  @include sprite-height-2x($sprite);
  @include sprite-size-2x($sprite);
}

